.process
    padding 100px 0 44px
    background-color $gray-back
    text-align center 
    &__items 
        display flex
        justify-content space-between
        margin 67px 0
    &__item
        max-width 360px
        &:nth-child(2)
            margin 0 15px
    &__text 
        font-weight 400
        font-size 16px
        color $black
        line-height 20px
        min-height 120px
        margin-bottom 20px
    .card__title
        line-height 36px
        margin-bottom 25px
        
.time
    padding 100px 0
    background $white 
    text-align center
    &__items 
        text-align left 
        display flex
        justify-content space-between
        margin 60px 0
    &__item
        border-radius 10px
        background-color $gray-back
        max-width 530px
        padding 37px 50px 
        &:first-child
            margin-right 30px
    .page__text-sm
        color $black
        margin-top 13px
        margin-bottom 55px

.ben
    background-color $gray-back
    padding 100px 0 50px
    text-align center
    &__items
        display flex
        justify-content center 
        flex-wrap wrap
        margin 60px 0 10px
    &__item
        display flex
        align-items center 
        justify-content center
        flex-direction column  
        margin-bottom 10px
        width 100%
        max-width 360px
        margin 0 13px
        padding 45px 50px 25px
        border-radius 10px
        transition all .3s ease 
        &:hover 
            background-color $white
            box-shadow 0 30px 60px rgba(21, 28, 39, 0.1)
    .card__title
        margin 16px 0 4px
    img 
        min-height 84px
    .process__text
        min-height auto

.access
    background $white 
    padding 100px 0
    text-align center
    &__items
        display flex
        justify-content space-between
        text-align left
        margin 65px 0 40px
    &__item 
        width 50%
    .card__title
        line-height 36px
        margin-bottom 22px

.diver
    background-color $gray-back
    text-align center
    padding 100px 0 110px
    &__items 
        display flex
        justify-content space-between
        margin 65px 0 70px
    &__text 
        font-weight 600
        font-size 16px
        color $black
        line-height 26px
        margin-bottom 55px
    .card__subtitle
        margin-bottom 40px

.about
    padding 100px 0 80px
    &__text 
        text-align left
        margin-top 10px
        p 
            font-weight 400
            font-size 20px
            color $black
            line-height 35px
            margin-bottom 20px
    img 
        margin 120px 25px 0 0
    .page__title
        margin -20px 0 50px

.returns
    text-align center
    padding 100px 0
    .page__title
        margin-bottom 22px
    .card__title
        line-height 38px
    &__items 
        display flex
        justify-content space-between
        text-align left
        margin 60px 0
    &__item 
        font-weight 400
        font-size 20px
        color $black
        line-height 35px
        width 50%
        &:first-child
            margin-right 40px
    &__bottom
        border-radius 0 0 10px 10px
        background-color $blue
        font-weight 500
        font-size 20px
        color $white
        text-align center 
        padding 55px 15px
        line-height 26px
        margin-top 40px
    &__text
        font-weight 500
        font-size 20px
        color $blue-2
        position relative
    &__graph 
        margin-top 110px
        span 
            left 64px
        &-text 
            display flex
            padding 0 65px
            justify-content space-between
    &__canvas
        position relative
        text-align left
        span 
            font-weight 700
            font-size 18px
            color $blue-2
            line-height 26px
            text-transform uppercase
            position relative
            top -65px
            left 0
.cont
    position relative
    text-align left
    padding 100px 0 114px
    &__back
        position absolute
        top 0
        bottom 0
        right 0
        max-width 941px
        width 100%
        background-size cover
        background-repeat no-repeat
        background-position right 
    &__items
        display flex
        justify-content space-between
    &__image 
        display flex
        margin-top -80px
        margin-right 140px
    .card__title
        line-height 34px
        margin-top 30px
    .page__text
        margin-top 22px

.trn
    text-align center
    padding 100px 0
    background-color $gray-back
    &__items 
        display flex
        justify-content space-between
        align-items flex-start
        margin-top 60px 
    &__item
        width 33.3%
        img 
            margin-top 105px
        &-text 
            border-radius 24px 24px 12px
            font-weight 500
            font-size 18px
            color $white
            line-height 28px
            text-align left
            position absolute
            margin-top 84%
            padding 35px 30px 35px 50px
            background-size contain
            background $blue
            &:after 
                content ''
                position absolute
                top 4px
                right -37px
                width 55px
                height 98%
                background-image url(../img/blueafter.png)
        &-2
            position relative
    &__subtitle
        font-weight 400
        font-size 16px
        color $black
        line-height 20px
    &__text
        margin-top 6px
    
