.contact
  padding 100px 0
  text-align center
  &__wrapper
    margin 0 auto
    max-width 760px
  &__title
    color $blue-2
    font-family $default-font
    font-size 20px
    font-weight 500
    line-height 20px
    margin-bottom 30px
  &__subtitle
    color $black
    font-family $default-font
    font-size 16px
    font-weight 500
    line-height 26px
    margin-top 28px
    margin-bottom 18px
  &__items
    p,
    a
      font-size 18px
      font-weight 500
      line-height 26px
      color $blue-2
    p
      color $blue
    a
      text-transform uppercase
  .contact__email
      text-transform none   
      color $blue-2
      font-family $default-font
      font-size 18px
      font-weight 500
      line-height 26px
  &__items
    display flex
    justify-content space-between
    margin-bottom 0
  &__details
    text-align left
    margin-top 56px
  &__form
    text-align left
    margin 150px 0 10px
    .contact
      &__title
        margin-bottom 40px
    .form
      &__input
        margin-top 14px
      &__wrapper
        margin-bottom 20px
    p
      color $black
      font-family $default-font
      font-size 16px
      font-weight 500
      line-height 26px
  &__form.company__form
    margin 68px 0
  &__submit
    max-width 156px
    margin 50px auto 0
    display flex
    justify-content center