.wrapper 
    width 100%
    max-width 1200px
    padding 0 20px
    margin 0 auto 
    position relative

a
    text-decoration none
    transition all .3s ease

.main
    &__title
        font-weight 400
        font-size 50px
        color $blue-2
        line-height 60px
        margin-bottom 20px
    &__subtitle
        font-weight 500
        font-size 24px
        color $blue-2
        line-height 40px

.page
    &__title
        font-weight 400
        font-size 40px
        color $blue-2
        line-height 50px
        margin-bottom 40px
        span 
            font-weight 600   
    &__text
        font-weight 400
        font-size 20px
        color $black
        line-height 35px
        &-sm 
            font-size 16px
            line-height 26px
        a
            color $blue
            &:hover
                color $blue-2
    &__list 
        li 
            padding-left 30px
            position relative
            &:before
                content ''
                background-image url(../img/point.svg)
                position absolute
                left 0
                width 24px
                height 24px
    &__subtitle
        color $blue-2
        font-family $default-font
        font-size 22px
        font-weight 500
        line-height 26px

.card
    &__bold
        // font-weight 600
        font-weight 700
        font-size 18px
        color $blue-2
        line-height 26px
    &__title 
        font-weight 500
        font-size 30px
        color $blue-2
        a 
            color $blue-2 
            &:hover
                color $blue
    &__subtitle 
        font-weight 400
        font-size 20px
        color $black
        line-height 35px
        a
            color $blue
            font-weight 400
            &:hover
                color $blue-2
    &__text
        font-weight 400
        font-size 16px
        color $black
        line-height 26px
        &-sm 
            font-size 12px
            font-weight 500
        a
            color $blue
            font-weight 600
            &:hover
                color $blue-2
    &__button
        text-align center
        margin 30px 0
    &__link
        color $blue
        font-size 20px
        font-weight 400
        line-height 35px
        &:hover
            color $blue-2
    &__types
        display flex
        justify-content space-between
        margin-top 50px
        margin-bottom 58px
        &-1 
            flex-wrap wrap
            justify-content center
            margin 20px 0 32px
            .card__type
                width 50%
                margin-bottom 20px
    &__type
        width 33.3%
.dashbord
    &__title
        font-weight 400
        font-size 16px
        color $black
        line-height 26px
    &__text 
        font-weight 500
        font-size 22px
        color $blue-2
        line-height 26px

.btn
    display inline-block
    &__activity
        font-weight 700
        font-size 14px
        color $white
        line-height 20px
        text-transform uppercase
        background $blue
        border-radius 4px
        appearance none
    &__details
        background $blue
        font-weight 600
        font-size 20px
        color $white
        line-height 20px
        border-radius 4px
        padding 13px 40px
        appearance none
        &:hover
            background $blue-2
        &-size
            width 100%
            max-width 360px
            padding 27px 10px
            text-transform uppercase
            margin-top 10px
        &-m
            padding 15px 38px
            border none
            font-weight 400   
        &-top 
            max-width 255px
            width 100%
            text-transform uppercase
            padding 27px 15px

    &__invest
        font-weight 600
        font-size 14px
        color $gray-4
        line-height 20px
        background $gray-2
        border-radius 4px
        text-transform uppercase
        padding 15px 32px
        appearance none
        &:hover 
            background $gray-4
            color $gray-2
        p
    &__started
        display inline-block
        // font-weight 500
        font-weight 600
        font-size 14px
        color $white
        line-height 20px
        text-transform uppercase
        border-radius 4px
        background $blue
        padding 15px 32px
        transition background .3s ease 
        appearance none
        &:hover 
            background $blue-2
    &__ops
        font-weight 600
        font-size 20px
        color $white
        line-height 20px
        text-transform uppercase
        background $green
        border-radius 4px
        appearance none
        &-size
            width 100%
            text-align center
            padding 28px 15px
            &:hover
                background $blue
    &__login
        // font-weight 500
        font-weight 600   
        font-size 14px
        color $gray-4
        line-height 20px
        text-transform uppercase
        background $gray-2
        border-radius 4px
        padding 15px 32px
        appearance none
        transition background .3s ease
        &:hover 
            background $gray-4
            color $gray-2
    &__view
        color $white
        font-size 14px
        font-weight 700
        line-height 20px
        text-transform uppercase
        border-radius 4px
        background-color $blue
        padding 15px 28px
        appearance none
        &:hover
            background #1a273a
    &__submit
        border-radius 4px
        background-color $white
        font-size 14px
        font-weight 700
        line-height 20px
        text-transform uppercase
        color #000
        border none 
        appearance none
        position relative
        padding 15px 29px
    &__start
        color #000000
        font-family $default-font
        font-size 14px
        font-weight 700
        line-height 20px
        text-transform uppercase
        border-radius 4px
        background-color $white
        padding 15px 29px
        appearance none
    &__cancel
        border-radius 4px
        border 1px solid #c1c8cb
        color $black
        font-family $default-font
        font-size 20px
        font-weight 700
        line-height 20px
        text-transform uppercase
        appearance none
        background transparent
        cursor pointer
        &:hover
            background $gray
            color $white

[class^="icon-"],
[class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-btn_start:before
  content "\e900"
  color #fff

.icon-btn_login:before
  content "\e901"
  color #fff

.owl
    &-dots
        display none
    &-nav
        position absolute
        left 50%
        transform translateX(-50%)
        margin 30px 0
        button
            position relative
            margin 0 10px
    &-prev,
    &-next
        outline none
        span 
            font-size 0
    &-prev
        span:after
            position absolute
            content ''
            top 0
            left 0
            background-image url(../img/arrow.svg)
            width 7px
            height 9.5px
            transform rotate(180deg) scale(2)
            top -1px
    &-next
        span:after
            position absolute
            content ''
            top 0
            left 0
            background-image url(../img/arrow.svg)
            width 7px
            height 10px
            transform scale(2)

.plane
    position absolute
    width 73%
    right -132px
    bottom 37px


.center 
    text-align center

.white 
    color $white

.p-blue
    background $blue
.p-blue-2
    background  #50a4f4
.p-blue-3
    background #5cb7fd
.p-blue-4
    border 1px solid #5cb7fd
    background transparent
.point.p-avg
    background #d5dce6
    height 100%
    width 1px

.form
    &__input
        border-radius 4px
        border 1px solid #dbe1e6
        appearance none
        color $black
        font-size 16px
        font-weight 400
        line-height 26px
        outline none
        width 100%
        padding 9px 18px 13px
        margin-top 25px
        font-family $default-font
        font-weight 500
        &::placeholder
            color rgba(107, 124, 149, .5)
        &:focus
            border 1px solid $black
    &__submit
        color $white
        font-size 20px
        font-weight 600
        line-height 20px
        text-transform uppercase
        border-radius 4px
        background-color $blue
        border none
        width 100%
        padding 27px
        transition all .3s ease
        cursor pointer
        &:hover
            background $blue-2
        &:disabled
            background gray
            cursor not-allowed

    &__wrapper
        margin-bottom 40px
        .jq-selectbox
            max-width none 
    &__wrapper.df
        display flex
        align-items flex-end 
        justify-content space-between
        label
            width 100%
            text-align left
            max-width 360px
            &:first-child
                margin-right 5px
            &:last-child
                margin-left 5px
    &__textarea
        border-radius 4px
        border 1px solid #dbe1e6
        color $blue-2
        font-weight 500
        font-family $default-font
        font-size 16px
        font-weight 500
        line-height 26px
        min-height 200px
        min-width 100%
        padding 15px 18px
        margin 15px 0 5px
        outline none
        &::placeholder
            font-weight 500
            font-family $default-font
            color rgba(107, 124, 149, .5)
    &__buttons
        display flex
        justify-content space-between
        .btn
            max-width 360px
            width 100%  
            &:first-child
                margin-right 20px
    &__label
        display flex 
        max-width 360px
        width 100%
        label
            &:first-child
                margin-right 40px !important
    &__address
        margin-top 22px 
    &__addm
        .form__input
            margin-bottom 6px  
    &__tabs
        display flex
        justify-content space-between
        margin-top -18px    
        margin-bottom 42px
    &__tab
        a
            font-size 14px
            font-weight 600
            color #6b7c95
            line-height 20px
            text-transform uppercase
            display inline-block 
            padding-bottom 4px
            border-bottom 2px solid transparent
            margin-right 34px
            &.active 
                color #1a273a
                border-bottom 2px solid #3f89e8
        .hidden 
            display none 
    &__add
        display flex 
        align-items center 
        a   
            display flex 
            align-items center 
            font-family $avenir-font
            font-weight 600
            font-size 14px
            color #1a273a
            line-height 20px
        span 
            line-height 20px  
            font-weight 600
            font-size 22px
            color #3f89e8
            display inline-block
            margin-right 10px
    &__body
        display none 
        &.active
            display block 
        &-hidden
            display none 
    
  

.jq-selectbox
    margin-top 14px
    width 100%
    max-width 360px
    &__select
        height 50px
        padding 0
        display flex 
        align-items center 
        border-radius 4px
        border 1px solid #dbe1e6
        appearance none
        color $black
        font-size 16px
        font-weight 400
        line-height 26px
        background transparent 
        box-shadow none 
        &-text 
            padding 9px 35px 9px 18px
            font-weight 500
            font-size 20px
            color $blue-2
            line-height 20px
        &:hover 
            background transparent
    &__trigger
        border none 
        &-arrow 
            background-image url(../img/show.svg)
            border none 
            width 14px
            height 8px
            top 50%
            margin-top -4px
    li
        font-family $default-font
        font-weight 500
        font-size 18px
        color $blue-2
        line-height 20px
        height 40px
        display flex 
        align-items center
        &:hover 
            background $black
.jq-selectbox.focused
    .jq-selectbox__select 
        border 1px solid $black
    
.return
    color $blue-2
    font-size 22px
    font-weight 600
    line-height 26px
    margin-bottom -10px

.class
    width 50px
    height 50px
    background-color #4c84ff
    color $white
    font-size 30px
    display flex
    align-items center 
    justify-content center
    border-radius 50%
    margin 0 auto
    font-weight 600   

.form__group {
  display: inline-block;
  margin 22px 55px 15px 0
}

.form__group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form__group label {
  position: relative;
  cursor: pointer;
  color $blue-2
  font-family $default-font
  font-size 16px
  font-weight 500
  line-height 26px
  display flex
}

.form__group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #dbe1e6;
  border-radius 4px
  padding: 13px;
  width 28px
  height 28px
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 17px;
}

.form__group input:checked + label:before {
   background-color $blue
}

.form__group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 12px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.form__group
    a
        font-family $default-font
        font-size 16px
        font-weight 400
        line-height 26px
        color $blue
        &:hover
            color $blue-2

.form__agree
    margin-top 33px
    .form__group
        margin-right 0
    label
        display block
        padding-left 45px
        &:before
            position absolute
            left 0

.company
    &__form
        .form__input
            font-family $default-font
            font-weight 500
            font-size 20px
            color $blue-2
            line-height 20px
            padding 12px 18px 12px
        .form__buttons
            margin-top 40px
        .form__group
            margin 0 60px 0 0
        .form__respond
            margin-top 30px
            margin-bottom 25px

    &__titles.df
        display flex 
        justify-content space-between
        p
            max-width 360px
            width 100%
            font-weight 500
            font-size 20px
            color $blue-2
            line-height 20px
            margin-bottom 10px
        


.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border-radius 10px
  border 1px dashed #d3d8da
}
#drop-area.highlight {
  border-color: purple;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
.input__file
    position absolute
    opacity 0
    top 0
    left 0
    right 0
    bottom 0
    width 100%

.form
    &__file
        position relative
        padding 15px
        height 100%
        display flex
        align-items center 
        justify-content center

.msg
    font-family $default-font
    font-weight 400
    font-size 16px
    color $black
    line-height 26px
    text-align center 
    span 
        color $blue

.drop
    &__table
        border-radius 10px
        width 100%
        text-align left
        border-collapse collapse
        &-wrapper 
            margin-top 40px
        tr
            border-bottom 1px solid #d1d8df
            &:last-child
                border-bottom 0
        th
            font-family $default-font
            font-weight 400
            font-size 16px
            color $black
            line-height 26px
            padding 28px 10px
            border-bottom 1px solid #d1d8df
            background-color $gray-back
            &:first-child
                padding-left 40px
            &:last-child
                padding-right 40px
        td
            font-family $default-font
            font-weight 500
            font-size 18px
            color $blue-2
            line-height 26px
            padding 24px 10px
            max-width 269px
            background-color $gray-back
            position relative
            &:nth-child(2)
                max-width 131px
            &:first-child
                padding-left 40px
            &:last-child
                padding-right 40px
                text-align right
                width 60px
        span 
            color $blue
            font-family $default-font
            font-weight 500
            font-size 28px
            position relative
            top -5px

.table
    &__toggle
        position absolute
        z-index 1
        left 50%
        transform translateX(-50%)
        box-shadow 0 15px 70px rgba(14, 26, 41, 0.21)
        border-radius 10px
        display flex
        flex-direction column 
        justify-content flex-start
        background $white 
        padding 14px 20px
        &:after 
            content ''
            position absolute
            top -1px
            left 50%
            transform rotate(45deg) translateX(-50%)
            width 12px
            height 12px
            background $white
            border-radius 2px
        a 
            font-size 14px
            padding 0
            display block
            padding 5px 10px 
            color $black
            text-align left
            &:hover
                color $blue
        &-trigger 
            cursor pointer

.hidden
    display none