.choose
  &__types
    display flex
    justify-content space-between
  &__type
    text-align left
    max-width 530px
    margin-left 15px
    min-height 214px
    margin-bottom 60px
    .card
      &__title
        margin-bottom 15px
      &__subtitle
        margin-bottom 10px
  &__btn
    margin-bottom 30px
  &__items 
    &:first-child
      .choose__type
        margin-left 0
.invest
  &__types
    padding 100px 0 0
    .wrapper
      position relative
      &:after
        content ''
        position absolute
        left 50%
        top 0
        margin-left -1px
        width 1px
        height 96%
        background-color #e5e5e5
  &__items
    text-align center
    display flex
    justify-content space-between
      margin-bottom 100px
    .choose__items
      flex-direction column
      width 50%
      margin-top 0
      &:last-child
        align-items flex-end
        .choose__item
          margin-right 0
          margin-left 15px
        
    .card__text
      margin-top 12px
    .choose__body
      padding 35px 20px
      text-align center
    .card__button
      margin 25px 0
    .choose__item
      margin-bottom 100px
      margin-right 15px
  