@import "_vars.styl"

/*==========  Desktop First  ==========*/

@media (max-width: 1400px)
	.btn 
		&__started,
		&__login
			padding 15px 25px

	.header
		&__menu
			&-item 
				padding 0 12px

	.platform
		&__image
			max-width 600px
			right 0
			margin-top 80px


@media (max-width : 1200px)
	.btn
		&__started,
		&__login
			padding 15px 14px
	.header
		&__logotype
			max-width 230px
		&__buttons
			right 25px
			a 
				margin-left 10px
		&__menu
			&-item 
				padding 0 7px
		&__info
			margin-right 0
			right 25px
		&__notification
			&-link 
				margin 0 18px
	.page
		&__title
			font-size 32px
			line-height 42px
		&__text
			font-size 18px
			line-height 32px
	
	.platform
		&__image
			max-width 500px
		.page
			&__list
				li 
					margin-bottom 15px
	
	.card
		&__bold
			font-size 16px
			line-height 22px
		&__title
			font-size 24px
		&__body
			padding 28px 20px
		&__class
			left 20px
			width 40px
			height 40px
			font-size 24px
			top -20px
		&__structure
			padding-left 20px


@media (max-width : 998px)

	.btn
		&__details
			font-size 18px
			padding 10px 30px
			&-size
				padding 20px 30px
		&__ops
			&-size 
				padding 20px 15px
				font-size 18px

	.main
		&__title
			font-size 42px
			line-height 52px
		&__subtitle
			font-size 20px
			line-height 36px

	.header
		background $blue
		justify-content space-between
		.icon
			display inline-block
			font-size 26px
		&__buttons 
			right 0
			display flex
			position relative
			a 
				font-size 0
				background-color transparent
				padding 0
				margin 0 0 0 30px
				height 26px
				&:hover 
					background transparent 
				&:first-child
					margin-left 0
		&__menu
			&-wrapper 
				position fixed
				top 0
				left 0
				right 0
				bottom 0
				display flex
				align-items center 
				justify-content center 
				background $blue 
				transition all .5s ease 
				transform translateY(100%)
			&-wrapper.show 
					transform translateY(0)
			&-item 
				display block
				text-align center
				padding 15px
				a 
					color $white 
		&__logotype
			position relative
			margin-left 40px
			max-width 181px
		&__mobile 
			display block
		&__info
			right 20px
	.header.account
		border-bottom none
	
	.top
		min-height 550px
		padding 130px 0 30px
	
	.platform
		padding 40px 0
		&__wrapper
			flex-direction column 
		&__image
			position relative
			margin 40px auto 0
		.page
			&__list 
				margin-top 30px
	
	.page
		&__title,
		&__text
			br
				display none
		&__title
			font-size 30px
			line-height 42px
	
	.invest 
		padding 40px 0 50px

	.card
		&__invest
			&:nth-child(2n)
				margin 0 20px
		&__body
			padding 20px 15px
		&__title
			font-size 22px
		&__position
			font-size 14px
			&:before
				top 6px
		&__bottom
			span 
				font-size 16px
		&__text-sm
			font-size 10px
		&__bottom
			padding 20px 0 10px
		&__button
			margin 20px 0
		&__text
			font-size 14px
			line-height 22px
		&__subtitle
			font-size 18px
			line-height 30px
		&__link
			font-size 16px
			line-height 26px

	.projects
		padding 40px 0 50px

	.perfomance
		padding 40px 0 50px
		&__subtitle
			font-size 18px
			margin-top 40px
		&__text
			br 
				display none
	
	.choose
		padding 40px 0 50px
		&__body
			padding 25px 15px 20px
	
	.sign
		&__wrapper
			padding 95px 0 60px
		&__input
			width 250px
	
	.btn
		&__submit
			padding 15px 15px
	
	.footer
		padding 50px 0
		&__side
			max-width 340px
		&__right
			max-width none
			padding-left 15px
		&__menu-item
			padding-right 15px
			a 
				font-size 16px
		&__copy
			margin-top 30px
		&__text
			margin-top 35px
	
	.signin
		padding 50px 0
		&__form
			margin-top 40px
		&__text
			margin-top 50px
	
	.create
		&__form
			margin-top 40px
			.form__submit
				margin 40px auto
		&__wrapper
			.signin__text
				margin 50px 0
		&__list
			margin-top 50px
			li
				font-size 18px
				margin-bottom 10px
		&__text
			margin-top 50px
	
	.return
		font-size 18px
	
	.profile
		padding 50px 0
		&__links
			margin -10px 0 30px
			&-link
				font-size 16px
				max-width 220px
		&__name
			font-size 26px
		&__block
			margin 40px 0 50px
		.create__list
			margin-top 40px

	.svg__not
		g 
			fill $white
	
	.text__page
		margin 50px auto
	
	.contact
		padding 50px 0
		&__form
			margin 75px 0 10px
		&__submit
			margin 20px auto 0
	.support
		padding 50px 0
		.profile__button
			margin-top 60px
		.create__list
			margin-top 30px
	.settings
		padding 50px 0
		form
			.btn
				max-width 196px
				padding 10px 17px
				font-size 18px
		&__text
			margin-top 0
		.create__list
			margin-top 40px
	.terms
		padding 50px 0 25px
		&__item
			margin-bottom 40px
		.page__subtitle
			margin-bottom 10px

@media (max-width : 768px)
	.main
		&__title
			font-size 38px
			line-height 44px
			margin-bottom 28px
		&__subtitle
			font-size 18px
			line-height 30px
	
	.top
		min-height 640px
		padding 150px 0 30px
	
	.invest
		&__wrapper
			padding 0
	.perfomance
		&__text
			font-size 14px
			margin-bottom 20px
	
	.choose
		&__items
			flex-direction: column
		&__item 
			margin 10px auto 20px
			&:first-child
				margin 10px auto 50px

	.sign
		&__wrapper
			flex-direction column 
			padding 95px 0 50px
		&__form
			flex-direction column
			max-width 335px
			margin 0 auto
			width 100%
		&__input
			width auto
			left 0
			text-align center
			margin-bottom 10px
	
	.plane
		left 30%
		right auto
		width 100%
		top 35px
		bottom auto
	
	.footer
		&__sides
			flex-direction column 
		&__side
			max-width none
		&__contacts
			margin-top 25px
			p
				img 
					padding-right 10px
		&__copy
			margin 10px 0 20px
		&__right
			padding-left 0
		&__menu
			&-item
				a
					font-size 18px
		&__social
			margin-top 22px
		&__text
			margin-top 53px
			p
				margin-bottom 30px
				&:last-child
					margin-bottom 0
	
	.create
		&__wrapper
			.card__text
				text-align center
		&__form
			.form__wrapper
					max-width 360px
					margin 40px auto
					text-align left
	.form__wrapper.df
		flex-direction column
		label
			display flex
			flex-direction column
			&:first-child,
			&:last-child
				margin 0
	.invest__types
		.wrapper
			&:after
				display none
	.invest__items 
		flex-direction column
		.choose__item
			margin 0 auto 50px
		.choose__items
			width 100%
			&:last-child
				align-items center
				.choose__item
					margin 0 auto 50px
			.choose__item
				margin 0 auto 50px
	.choose
		&__types
			flex-direction column 
		&__type
			width 100%
			margin-bottom 30px
			&:first-child
				margin-right 0
	
	.contact
		&__form
			margin-bottom 5px
			.df
				label
					max-width none
			.form__input
				margin-top 5px
				margin-bottom 10px
			.form__wrapper
				margin-bottom 5px
		&__submit
			padding 17px
	.form
		&__textarea
			margin 5px 0
		&__group
			margin 15px 40px 5px 0
		&__buttons
			.btn
				padding 19px
				font-size 18px
		&__label
			max-width none 
	.support
		.contact__form
			margin 25px 0
		.profile__button
			margin-top 20px
	.settings
		&__sides
			flex-direction column
			align-items center
		&__image
			margin 0 auto 30px
		&__title
			text-align center
		&__side
			&:last-child
				margin-top 45px
		form
			.btn
				display flex
				justify-content center
				margin 0 auto	
	.company
		&__titles.df
			justify-content space-between
			p
				max-width none 
				&:last-child
					display none
		&__form
			.form__input
				padding 7px 15px 9px
				font-size 16px
	.jq-selectbox
		margin-top 5px
		&__select
			height 38px
			&-text 
				font-size 16px



@media (max-width : 568px)
	.main
		&__subtitle
			br 
				display none
	.page
		&__title
			font-size 28px
			line-height 40px
			text-align center
			margin-bottom 20px
			br 
				display none
		&__text
			text-align center
	
	.card
		&__bold
			font-size 14px
	
	.platform
		&__image
			margin 30px auto 0
	
	.owl-item
		width 268px !important
	
	.perfomance
		&__items
			flex-wrap wrap 
			margin-bottom 25px
		&__item
			width 50%
			justify-content flex-start
	.p-avg
		margin-right 15px
	
	.choose
		&__item
			.page__list li
				margin-bottom 15px
	
	.footer
		&__menu
			&-item
				width 50%
	.text__page
		.page__text
			text-align left		
	
	.contact
		&__items
			flex-direction column
		&__item
			margin-bottom 20px
		&__form
			margin 40px 0 10px
			.contact__title
				margin-bottom 25px
			.form__input
				margin 5px 0 10px
				padding 6px 15px 10px
	.start
		&__wrapper
			flex-direction column
			justify-content center
		.page__title
			margin-bottom 30px
	.terms
		&__bottom
			.page__text
				text-align left
	
	.jq-selectbox
		max-width none 
	.form
		&__label
			flex-direction column
	.company
		&__form
			.form__input
				padding 8px 15px 8px

@media (max-width : 480px)
	.page
		&__text
			font-size 16px
			line-height 28px
	
	.btn
		&__invest
			width 100%
		&__ops
			&-size 
				padding 15px 
				font-size 16px
	
	.signin
		&__form
			p 
				font-size 18px
		&__text
			margin-top 30px
	.form
		&__input
			margin-top 15px
		&__wrapper
			margin-bottom 25px
		&__submit
			padding 15px 
			font-size 18px
	
	.create
		&__list
			li 
				font-size 16px
		&__wrapper
			.card__text
				margin-top 30px
	
	.return
		font-size 16px
	.extra
		padding 50px 0 30px
		min-height 270px
	.profile
		.profile__text
			font-size 18px
		&__item
			p 
				font-size 14px
				margin-top 5px
		&__block
			margin 28px 0 40px
		&__extra
			margin-top 40px
		&__button
			margin-top 40px
	
	.header
		&__info
			.header__menu
				display none
	.form
		&__buttons
			.btn
				padding 14px
				font-size 15px
/* Custom, iPhone Retina */
@media (max-width : 380px)
	.main
		&__title
			font-size 28px
			line-height 38px
		&__subtitle
			font-size 16px
			line-height 32px

	.top 
		min-height 500px

	.header
		.icon 
			font-size 20px
		&__buttons
			a 
				height 20px
				margin 0 0 0 15px
		&__logotype 
			max-width 165px
		&__notification
			&-link
				margin 0 13px
	
	.footer
		&__contacts
			p,
			a
				font-size 14px

	.btn
		&__view
			font-size 12px
			padding 10px 28px
	
	.card__types
		margin 20px 0
		display flex
		flex-direction column
		.card__type
			width 100%
			margin-bottom 20px