.map
    height 610px
    margin-top 90px
    &__photos
        display flex
        justify-content space-between
        max-height 354px
        img 
            width 33.33%

.ong
    padding 100px 0 0
    text-align center

.perfomance
    &__subtitle-sm
        margin 0
        color $black
        line-height 26px
        font-size 16px
        font-weight 400

.historical
    background $white
    .perfomance
        &__items 
            justify-content space-around