.create
  &__wrapper
    max-width 760px
    width 100%
    margin 0 auto
    .card__text
      text-align left
    .signin__text
      margin 105px 0 55px
      text-align center
  &__form
    text-align left
    margin-top 55px
    label
      p 
        color $blue-2
        font-size 20px
        font-weight 500
        line-height 20px
    .form
      &__input
        max-width 360px
      &__submit
        max-width 265px
        margin 62px auto
        display block
  &__list
    margin-top 100px
    li 
      color $blue-2
      font-family $default-font
      font-size 22px
      font-weight 500
      line-height 26px
      margin-bottom 20px
      &:last-child
        margin-bottom 0
  &__text
    text-align left
    margin-top 65px