.signin
  padding 100px 0
  background $white
  text-align center
  &__wrapper
    max-width 360px
    margin 0 auto
  &__form
    text-align left
    margin-top 60px
    p 
      color $blue-2
      font-size 20px
      font-weight 500
      line-height 20px
  &__text
    margin-top 105px
    a
      color $blue
      font-weight 600
      &:hover
        color $blue-2