.support
  padding 100px 0
  text-align center
  &__wrapper
    margin 0 auto
    max-width 760px
  .contact__form
    margin 52px 0
    .form__buttons
      margin-top 30px
  .profile__button
    margin-top 110px
  .create__list
    margin-top 65px

.start
  background-image url(../img/start.jpg)
  background-position center
  &__wrapper
    display flex
    justify-content space-between
    align-items center
    width 100%
    max-width 790px
    padding 0 15px
    margin 0 auto
    min-height 340px
    .page__title
      margin-bottom 0