.terms
  padding 100px 0 45px
  text-align center
  &__wrapper
    max-width 760px
    margin 0 auto
  &__bottom
    text-align left
    margin-top 78px
  &__item
    margin-bottom 55px
  .page__text
    margin-bottom 20px
  .page__subtitle
    margin-bottom 24px


// CANVAS 
.canvas
  &__mainpage
    height 436px
  &__graph3
    height 377px
  &__potential
    height 302px
  &__perf 
    height 367px
.rg
  &__wrap
    height 406px

.mobile
  display none
  img 
    margin 0 auto 
    position relative
    left -20px
  &__notleft
    img 
      left 0
  &__left 
    img 
      left 20px
