$default-font = "AvenirNextCyr", sans-serif
$black = #1a273a
$black = #475871
$white = #fff
$blue = #3f89e8
$blue-2 = #1a273a
$blue-3 = #589ef7
$blue-4 = #4c84ff
$gray = #7586a0
$gray-2 = #f7f8fa
$gray-back = #f1f4f5
$gray-4 = #6b7c95
$green = #52af56
